* {
  box-sizing: border-box;
}

/*.hero img {
  position: relative;
  width: 300px;
}*/

#wrapper {

}

#header {
  float: left;
  width: 500px;
}

#nav {
  float: right;
  width: 200px;
}

#nav ul li {
  list-style: none;
}
