* {
  box-sizing: border-box;
}

/*.hero img {
  position: relative;
  width: 300px;
}*/

#wrapper {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

#header {
  width: 500px;
}

#nav {
  float: right;
  background-color: #470063;
  overflow: auto;
  width: 99vw;
  background color:;
}

#nav ul {
  list-style-image: url(../img/horse.png);

  display: inline;
  float: right;
  color: white;
  font-size: 35px;
}

#nav li {
  float: left;
  padding: 12px;
  margin-left: 19px;
  margin-right: 16px;
  /* display: inline; */
}

#nav img {
  padding-left: 53px;
  padding-top: 12px;
}
